@model IEnumerable<CsmForAsml.Models.CalDate>

@{
    ViewData["Title"] = "History";
}

<h1>Serial Number: @ViewData["Serial"]  </h1>
<h5>Cal History</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalDate1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFileName)
                <!-- @Html.DisplayNameFor(model => model.urlToFile) -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindOfCal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalDate1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalStatus)
                </td>
                <td>
                    <!--  @Html.DisplayFor(modelItem => item.urlToFile) <<- URLがすべて見えるので好ましくない　-->
                    <!--　<a href="@item.urlToFile" target="_blank" name="@item.PdfFileName">@item.PdfFileName</a>　-->
                    <!-- @Html.ActionLink(item.PdfFileName, "ShowPdf", "CalHistory", new { id = item.PdfFileName}, null) -->
                    <a href=@Url.Action("ShowPdf","CalHistory",new { id = item.PdfFileName}) target="_blank">@item.PdfFileName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfCal)
                </td>
            </tr>
        }
    </tbody>
</table>
